<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Demo Web App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/user/list">User List</a></li>
        </ul>
        <div style="padding: 8px">
            <form id="submitbtn">
                <a id="lg" href="/logout" class="btn" type="submit">Logout</a>
            </form>


        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>Welcome to demo spring boot app.</h1>
    <img class="d-block w-100" src="img2.png" th:src="@{img2.png}" alt="logo">
    <img class="d-block w-100" src="img4.jpg" th:src="@{img4.jpg}" alt="Bg image" width="60%">

</div>

</body>


<style>

    span, h1 {
        text-align: center;
        font-family: "Baloo Da", sans-serif;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #lg {
        background-color: #D32F2F;
        color: whitesmoke;
    }

    #lg:hover {
        color: #D32F2F;
        background-color: whitesmoke;
    }

    img {
        margin-bottom: 40px;
    }
</style>

</html>
